<!DOCTYPE html>
<html lang="en">

<head>

  <title> Mission to Mars </title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href = "/assets/style.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"> </script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"> </script>

</head>

<body>

    <!-- Start of body container -->
    <div class = 'container'>

        <!--------------------------------------------------------------------->
      
        <!-- Jumbotron for the Title -->
        <div class = "jumbotron text-center" style= "height: 200px;" >

            <h1> Mission to Mars </h1>
            <p> <a href="/scrape" class="btn btn-primary btn-lg" role="button"> Scrape New Data </a> </p>

        </div> <!-- End of Title Jumbotron  -->

        <!--------------------------------------------------------------------->

        <!-- Start of Mars News -->
        <div class = "row " > 
            <div class = 'col-md-12'>
                    <h2> Latest Mars news:</h2> 
                    <h4> {{MARS_data.news_title}} </h4>
                    <p> {{MARS_data.news_paragraph}} </p>
            </div>
        </div> <!-- End of Mars News -->

        <!--------------------------------------------------------------------->

        <!-- Start of Featured Mars Image, weather and facts -->
        <div class = 'row'>

            <!-- Start of Featured Mars Image -->
            <div class = "col-md-8"> 

                <h3> Featured Mars Image: </h3>
                <img src = "{{MARS_data.featured_image_url}}"  class = "image-responsive" alt = "Mars space image" style= "width: 98%;"> 
                </img>

            </div>  <!-- End of Featured Mars Image -->

            <!---------------------------------------------------------------->

            <!-- Start of weather and facts -->
            <div class = "col-md-4">

                <!-- Start of weather -->
                <div class = 'row border border-groove'  style = "margin-top: 40px;">
                    <div class = "panel panel-default"style = "margin: 10px;">
                        <h3>Current Weather On Mars:</h3>
                        <p> {{MARS_data.mars_weather}} </p>
                    </div> 
                </div> <!-- End of weather -->

                <!------------------------------------------------------------->
                
                <!-- Start of Mars facts -->
                <div class = 'row table-sm table-striped' style="margin-top: 10px;">
                    <h3 py-3> Mars Facts:</h3>
                    {{MARS_data.mars_facts_html|safe}}
                </div> <!-- End of Mars facts -->

            </div> <!-- End of weather and facts -->
                
        </div>   <!-- End of space-image, weather and facts -->

        <!--------------------------------------------------------------------->
        
        <!-- Start of Hemisphere-images -->

        <div class = "row"  style = "margin-top: 30px;" >

            <div class = "row">
                <div class= "col-md-12">
                   <h3 class="text-center py-3"> Mars Hemispheres:
                   </h3>
                </div> 
            </div>
          

            <div class = "row img-thumbnail">

                {% for hemisphere in MARS_data.hemispheres_info %}

                    <div class = "col-md-6" style = "padding-top: 10px">

                        <div>                   
                            <img src="{{hemisphere.Image_URL | default('static/images/error.png', true)}}" class = "image-responsive "  alt = "..." style = "width: 99%"> </img> 
                        </div>

                        <div class = "row">
                            <div class= "col-md-12">
                               <h5 class="text-center py-3">{{hemisphere.Title}} 
                               </h5> 
                            </div> 
                        </div>

                    </div>
                    
                {% endfor %}
            
            </div>
        </div> <!-- End of Hemisphere-images row-->
                
    </div> <!-- End of body container -->
     
</body> 

</html>
    